doctype html
html 
    head
        link(rel="stylesheet" type="text/css" href="../style.css")
    body.main
        div.menu
            div.rules
                |RULES
            div.start_btn#play_btn
                |START
            div.topic_btn
                |TOPIC
        canvas#gameBlock(width=400 height=400 style="margin-top:150px")
        
        script(src="../script.js")