.main .instruction .material-icons {
  font-size: 48px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.main .instruction .material-icons:hover {
  font-size: 55px;
  cursor: pointer;
  z-index: 2;
}

body {
  background-image: url("./source/cave.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-y: hidden;
  height: 800px;
}

.main {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main #boxBlock {
  display: none;
  position: absolute;
  top: 15%;
  left: 38%;
}

.main #gameBlock {
  display: none;
  position: absolute;
  top: 15%;
  left: 38%;
}

.main .instruction {
  display: none;
  position: absolute;
  width: 60%;
  height: 60%;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #EAECEE;
  border-radius: 20px;
  border: 2px solid #ABB2B9;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 50px 10px black;
          box-shadow: 0px 0px 50px 10px black;
  -webkit-animation-name: rules_animation;
          animation-name: rules_animation;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.main .instruction header {
  margin-top: 4%;
  text-align: center;
  font-family: Courier New;
  font-size: 60px;
  font-weight: 600;
}

.main .instruction p {
  text-align: left;
  text-indent: 20px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: Courier New;
  font-size: 20px;
  font-weight: 600;
}

.main .instruction p:nth-child(2) {
  margin-top: 5%;
}

.main .theme {
  display: none;
  position: absolute;
  border-radius: 20px;
  border: 2px solid #ABB2B9;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 50px 10px black;
          box-shadow: 0px 0px 50px 10px black;
  margin-left: 32%;
  margin-right: 32%;
  margin-top: 15%;
  width: 36%;
  height: 30%;
  background-color: #D5D8DC;
}

.main .theme i#theme_close_btn {
  font-size: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.main .theme i#theme_close_btn:hover {
  cursor: pointer;
  font-size: 45px;
}

.main .theme input {
  display: block;
}

.main .theme input[type=checkbox] {
  display: none;
}

.main .theme input[type=checkbox] + label:before {
  letter-spacing: 10px;
  font-family: 'Material Icons';
  content: "check_box_outline_blank";
}

.main .theme input[type=checkbox]:checked + label:before {
  letter-spacing: 10px;
  font-family: 'Material Icons';
  content: "check_box";
}

.main .theme label {
  font-weight: 700;
  font-family: monospace;
  margin-top: 20px;
  font-size: 30px;
  display: block;
}

.main .menu {
  font-family: Consolas, monaco, monospace;
  border: 3px solid #993d00;
  color: white;
  font-weight: 300;
  background-color: #F7DC6F;
  position: absolute;
  top: 10%;
  left: 35%;
  width: 30%;
  height: 60%;
  font-size: 40px;
  list-style-type: none;
  border-radius: 15px;
  -webkit-transform: rotate(6deg);
  transform: rotate(6deg);
}

.main .menu .rules {
  border-radius: 10px;
  background-color: #AF601A;
  width: 70%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 10% 15%;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

.main .menu .rules:hover {
  background-color: #993d00;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: -webkit-grab;
  cursor: grab;
}

.main .menu .start_btn {
  border-radius: 10px;
  background-color: #AF601A;
  width: 70%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 10% 15%;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.main .menu .start_btn:hover {
  background-color: #993d00;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: -webkit-grab;
  cursor: grab;
}

.main .menu .topic_btn {
  border-radius: 10px;
  background-color: #AF601A;
  width: 70%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 10% 15%;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg);
}

.main .menu .topic_btn:hover {
  background-color: #993d00;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: -webkit-grab;
  cursor: grab;
}

@-webkit-keyframes rules_animation {
  0% {
    -webkit-transform: translate(0, -100px);
            transform: translate(0, -100px);
  }
  100% {
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
}

@keyframes rules_animation {
  0% {
    -webkit-transform: translate(0, -100px);
            transform: translate(0, -100px);
  }
  100% {
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
  }
}
/*# sourceMappingURL=style.css.map */